html{
    font-size: 100%; //to let user easily zoom
    box-sizing: border-box; //padding and borders will be included in the final width and height
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100vh;  
    line-height: 1.3;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    align-items: center;
}

//Main container
.container{
    position: relative;
    left:10%;
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "purple purple grey white-column"
    "white dark-blue dark-blue white-column";
    grid-gap:25px;
}

@media only screen and (max-width: 900px) {
    .container {
      display: flex;
      position:absolute;
      top:5vh;
      left:calc(100vw - 95vw);
      flex-direction: column;
      justify-content: center;
    }
    .testimonial{
        min-width: calc(100vw - 10vw);
    }
  }

//Testimonial is the class for each div ocntaining a testimonial
.testimonial{
    padding: 20px 30px 20px 30px;
    border-radius: 10px;

    //Name of the person, and their position. 15px from the picture
    &__name, &__position{
        margin: 0 0 0 15px;
    }

    //Header contains the picture and identity
    &__header{
        display:flex;
        align-items: center;
    }
    
    //Name and position
    &__identity{
        display: inline-block;
    }

    //Picture of the person
    &__img{
        border-radius: 50%;
        width:35px;
    }

    //1st testimonial background, purple with a quote pic 
    &--quote-purple{
        background: url(/images/bg-pattern-quotation.svg), hsl(263, 55%, 52%);
        background-repeat: no-repeat;
        background-position:85% top;
        grid-area: purple;
    }
    
    //2nd test bg,light grey
    &--lightgrey{
        background-color: hsl(217, 19%, 35%);
    }
    
    //3rd and 5th test bg, white
    &--white{
        background-color: hsl(0, 0%, 100%);
    }

    &--two-rows{
        grid-row:1/3;
    }
   
    //4th test bg, darkblue
    &--darkblue{
        background-color: hsl(219, 29%, 14%);
        grid-area: dark-blue;
    }

    //Text on the page, white and 13px
    &__name, &__position, &__catchphrase, &__description{
        color:hsl(0, 0%, 85%);
        font-size: 13px;
        //Text whit white bg
        &--txtdark{
            color:hsl(217, 19%, 35%);
        }
    }

    //Bigger text, heavier font
    &__catchphrase{
        font-weight: 600;
        font-size: 22px;
        margin: 15px 0;
    }

    //Name is 15px
    &__name{
        font-size: 15px;
    }

    //Position 50% opacity
    &__position{
        opacity: 50%;
    }

    //Description 70% opacity
    &__description{
        opacity: 70%;
    }
}


